In [2]:
# Some basic imports

import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from pandas.tseries.offsets import *
from scipy import stats
from scipy.stats import gmean
pd.options.display.max_rows = 12
import statsmodels.api as sm
import statsmodels.formula.api as smf
import wrds
from datetime import datetime

In [3]:
hw2 = pd.read_parquet('data/hw2_mfin7037_data.parquet', engine='pyarrow')
hw2

,permno,date,ret,intraday_ret_month,overnight_ret_month,mcap_lag1,prc_lag1,mom_intraday,mom,mom_overnight,mcap_bin
0,10061.0,1986-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10061.0,1986-03-31,-0.034014,NaN,NaN,20635.125000,18.3750,NaN,NaN,NaN,4.0
2,10061.0,1986-04-30,-0.140845,NaN,NaN,19933.250000,17.7500,NaN,NaN,NaN,4.0
3,10061.0,1986-05-30,-0.016393,NaN,NaN,17125.750000,15.2500,NaN,-0.034606,NaN,4.0
4,10061.0,1986-06-30,-0.033333,NaN,NaN,16845.000000,15.0000,NaN,-0.186412,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...
3776102,93399.0,2018-09-28,-0.095432,-0.162727,0.125750,21536.024646,0.8844,-0.305023,-0.207639,0.097378,1.0
3776103,93399.0,2018-10-31,-0.223750,0.238409,-0.373188,19480.800290,0.8000,-0.755411,-0.389662,0.396091,1.0
3776104,93399.0,2018-11-30,-0.444605,-0.560893,0.264830,15125.075803,0.6210,-0.802384,-0.255804,0.618065,1.0
3776105,93399.0,2018-12-31,-0.478110,0.074360,-0.514231,8400.384693,0.3449,-0.838701,-0.603673,0.306514,1.0
3776106,93399.0,2019-01-31,NaN,-0.124225,0.332156,4384.080174,0.1800,-1.163568,-1.012049,0.223009,1.0

# Q 3

# End